/* MOBILE */

body{
    padding: 0;
    margin: 0;
}

/* HEADER */

header{
}

#barraHeader{
    padding: 10px;
    background-color: #ff3c45;
}

#headerLogo{
    width: 20%;
    padding: 10px;

}

#dropListIcon{
    position: absolute;
    width: 15%;
    right: 0;
    margin-top: 3%;
    margin-right: 4%;
}

#headerNav{
    border: 4px solid black;
    border-radius: 15px;
    display: none;
    margin: -1%;
    padding: 40px;
    padding-top: 0px;
    height: 400px;
}

#headerUL{
    line-height: 80px;;
    font-family: sans-serif;
    list-style: none;
    font-weight: bold;
    font-size: 65px;
    color: white;
}

#headerUL li:hover{
    color: black;
}

#bannerHeader{
    margin-top: -2%;
    margin-bottom: -1%;;
}

#bannerHeader img{
    width: 100%;
}

/* MAIN */

main{
    font-family: sans-serif;
}

#divisaoMainSuperior{
    background-color: #ff3c45;
    padding: 50px;
    color: white;
}

h1{
    font-size: 60px;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 55px;;
    display: grid;
}

#slideCarrossel{
    padding: 40px;
}

#carrosselImage{
    width: 100%;
    border-radius: 25px;
}

#tituloCarrossel{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#conteudoCarrossel{
    text-align: justify;
    padding: 40px;
    font-size: 35px;    
    text-indent: 10%;


}

#slideCarrossel button{
    background-color: #ff3c45;
    color: white;
    padding: 25px;
    font-size: 35px;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    border-radius: 20px;
    
}

#cotacaoBox{
    /* display: none; */
    padding: 40px;
    width: 80%;
    border: 5px solid #ff3c45;
    border-radius: 20px;
    background-color: white;
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;

}

#cotacaoBox form{
    font-size: 55px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}


#cotacaoBox input{

    font-size: 40px;
    padding: 10px;
    margin-bottom: 10%;

}

#cotacaoBox p{
    font-size: 65px;
    text-align: center;
}

#cotacaoBox select{
    font-size: 40px;
    margin-bottom: 10%;

}

#cotacaoBox option{
    font-size: 15px;
}

#cotacaoBox textarea{
    font-size: 35px;
    height: 350px;
    padding: 20px;
    margin-bottom: 10%;
}

#cotacaoBox button{
    background-color: #ff3c45;
    color: white;
    padding: 25px;
    font-size: 35px;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    border-radius: 20px;
}

/* FOOTER */

footer{
    font-family: sans-serif;
    background-color: black;
    padding: 30px;
}

#linkFooter{
    
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#linkFooter p{
    margin: 0;
}





/* DESKTOP */
@media only screen and (min-width: 992px) {
    body{
        padding: 0;
        margin: 0;
    }
    
    /* HEADER */
    
    header{
    }
    
    #barraHeader{
        padding: 0px;
        background-color: #ff3c45;
        display: flex;
        padding: 20px;
    }
    
    #headerLogo{
        width: 10%;
        padding: 5px;

    
    }
    
    #dropListIcon{
        display: none;
    }
    
    #headerNav{
        display: flex;
        border: 0px;
        border-radius: 0px;
        padding: 0px;
        align-items: center;
        padding-top: 0px;
        height: auto;
        right: 0;
        margin-right: 4%;
        margin-top: 0.5%;
        position: absolute;
        
    }
    
    #headerUL{
        line-height: 80px;;
        font-family: sans-serif;
        list-style: none;
        display: flex;
        font-weight: bold;
        font-size: 22px;
        color: white;
    }
    
    #headerUL li:hover{
        color: black;
    }

    #headerUL li{
        padding: 10px;
        justify-content: center;
    }
    
    #bannerHeader{
        margin-top: 0%;
        margin-bottom: -1%;;
    }
    
    #bannerHeader img{
        width: 100%;
    }
    
    /* MAIN */
    
    main{
        font-family: sans-serif;
    }
    
    #divisaoMainSuperior{
        background-color: #ff3c45;
        padding: 50px;
        color: white;
        margin-bottom: 0%;
    }
    
    h1{
        font-size: 40px;
        text-align: center;
    }
    
    h2{
        text-align: center;
        font-size: 35px;;
        display: grid;
    }
    
    #slideCarrossel{
        padding: 40px;
    }
    
    #carrosselImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 25px;
    }
    
    #tituloCarrossel{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    
    #conteudoCarrossel{
        text-align: justify;
        padding: 40px;
        font-size: 25px;    
        text-indent: 5%;
    
    
    }
    
    #slideCarrossel button{
        background-color: #ff3c45;
        color: white;
        padding: 20px;
        font-size: 20px;
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        border-radius: 20px;
        
    }

    #cotacaoBox{
        /* display: none; */
        padding: 40px;
        width: 80%;
        border: 5px solid #ff3c45;
        border-radius: 20px;
        background-color: white;
        display: none;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    
    }
    
    #cotacaoBox form{
        font-size: 55px;
        background-color: white;
        display: flex;
        flex-direction: column;
        
    }
    
    
    #cotacaoBox input{
    
        font-size: 40px;
        padding: 10px;
        margin-bottom: 10%;
    
    }
    
    #cotacaoBox p{
        font-size: 65px;
        text-align: center;
    }
    
    #cotacaoBox select{
        font-size: 40px;
        margin-bottom: 10%;
    
    }
    
    #cotacaoBox option{
        font-size: 15px;
    }
    
    #cotacaoBox textarea{
        font-size: 35px;
        height: 350px;
        padding: 20px;
        margin-bottom: 10%;
    }
    
    #cotacaoBox button{
        background-color: #ff3c45;
        color: white;
        padding: 25px;
        font-size: 35px;
        width: 50%;
        margin-left: 25%;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        border-radius: 20px;
    }
    
    
    
    /* FOOTER */
    
    footer{
        font-family: sans-serif;
        background-color: black;
        padding: 30px;
    }
    
    #linkFooter{
        
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    
    #linkFooter p{
        margin: 0;
    }
    


}

